@import url('https://fonts.googleapis.com/css2?family=Caladea:ital@0;1&family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

@import url("flexboxgrid.css");

/* body font: Caladea */
/* heading font: Josefin Sans Light */

body {
  background: #FEFDFE;
  font-family: Caladea;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #225B4F;
}

.container {
  width: 50vw;
  /* background: grey; */
}



/* CONTENT */

.bodyDiv {
  /* max-width: 742px; */
  width: 35vw;
  height: 551px;

  background: url(public/bodyDiv.png);
  background-size: cover; 
  background-repeat: no-repeat;
  overflow-y: auto;
  overflow-x: hidden;
  
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
  border: 1px solid #F48B7C;
}

.logo{
  content: url(public/logo.png);
  margin: 0 auto;
  margin-bottom: 10px;
}

.greenContainer {
  margin-bottom: 20px;
  align-items: center;
  background: #225B4F;
  justify-content: center;

  display: flex;
  overflow-x: wrap;
  width: 35vw;
}

.greenContainerText {
  padding: 20px;
  font-family: Caladea;
  font-style: italic;
  font-weight: 100;
  font-size: 15px;
  line-height: 130%;

  display: inline-block;
  align-items: center;
  text-align: center;

  color: #FEFDFE;
}



/* HEADER */

#header {
  max-height: 92px;
}

#siteTitle {
  font-family: Josefin Sans;
  font-style: normal;
  text-align: end;
  font-weight: 300;
  font-size: 50px;
  margin-right: 5vw;
  text-transform: uppercase;
}



/* NAVIGATION */

#navigation {
  max-width: 300px;
  max-height: 551px;
}

.navButton {
  max-width: 271px;
  height: 174px;
  border-radius: 3px;
  margin-bottom: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.insideNavButton {
  max-width: 200px;
  max-height: 200px;
  padding: 30px;
  text-align: center;
}

/* for dev only */
.selected{
  border: 1px solid #F48B7C;
  box-sizing: border-box;
  border-radius: 3px;
}

#authButton {

}

#authButton.auth {
  border: 1px solid #F48B7C;
  box-sizing: border-box;
  border-radius: 3px;
}

#viewWorldsButton {

}

#viewWorldsButton.viewWorlds {
  border: 1px solid #F48B7C;
  box-sizing: border-box;
  border-radius: 3px;
}

#newWorldButton {

}

#newWorldButton.newWorld {
  border: 1px solid #F48B7C;
  box-sizing: border-box;
  border-radius: 3px;
}




/* FOOTER */

#footer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
}

#buttonNavigation {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;

  width: 15vw;
  margin-left: 13vw;
}

.footerButton {
  position: absolute;
  width: 14.24px;
  height: 14.24px;
  border-radius: 100%;

  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.buttonHoverText {
  display: none;
  position: absolute;
  width: 60px;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  
  margin-top: 20px;
  margin-left: -1.4vw;
  padding: 5px;
}

.footerButton:hover .buttonHoverText {
  display: flex;
}

#linktreeButton {
  color: #478274;
  background: #478274;
}

#githubButton {
  color: #95A090;
  background: #95A090;
}

#tayMadeButton {
  color: #F48B7C;
  background: #F48B7C;
}

#linkedInButton {
  color: #9AD3AE;
  background: #9AD3AE;
}

#contactButton {
  color: #FFB470;
  background: #FFB470;
}



/* HOME */


#homeBodyText {
  padding-left: 40px;
  padding-right: 40px;
  color: #225B4F;
}



/* Sign In / Edit Account */
#changeSettings {

}

#changeName {

}

#emailSettings {

}

#logOut {

}

#deleteAccount {

}


/* WORLD VIEW */
#tabsNav {
  justify-content: left;
  text-align: left;
}

#worldViewDiv {
  background: #478274;
  margin: 0;
}

#worldViewContainer {
  margin: 10px;
  width: 34vw;
  height: 400px;
  
  border: 1px solid #FEFDFE;
  box-sizing: border-box;
  border-radius: 3px;
  overflow-y: scroll;
}



/* CREATE WORLD */
/* begin page */
#bodyTextCreate {
  font-size: 18px;
  width: 25vw;
}

#beginArrow {

}

/* Question pages */
.sectionHeading {
  height: 100px;
  padding: 10px;
}

.questionComponent {
  height: 260px;
  padding: 20px;
}

.quoteComponent {
  font-size: 14px;
  color: #76928C;
}

.quoteComponent span {
  align-self: flex-end;
}

.progressComponent {
  color: #FEFDFE;
  height: 70px;
}




/* HEADINGS */

/* page title */
h1 {
  text-transform:uppercase;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  line-height: 130%;
  /* background: radial-gradient(circle at center, #1C4A40, #B0EFC6); */
  background: -webkit-radial-gradient(#1C4A40, #B0EFC6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* sectionTitle */
h2 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  text-align: center;
  text-transform: uppercase;

  background: -webkit-radial-gradient(#F48B7C, #FFB470);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* create new world section title */
h3 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;

  text-align: center;
  text-transform: uppercase;

  color: #225B4F;
}

/* create new world section subtitle */
h4 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  margin: 0px;
  padding: 0px;

  text-align: center;
  text-transform: uppercase;

  color: #225B4F;
}

/* caption */
h5 { 
  margin: 0px;
  font-family: Caladea;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  /* padding: 0px 30px 30px 30px; */
  text-align: center;
  color: #225B4F;

}

/* nav bar */
h6 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  margin: 5px;
  
  text-align: center;
  text-transform: uppercase;
  background: -webkit-radial-gradient(#316C60, #2EC29F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* nav bar logged out */
h6.loggedOut {
  background: -webkit-radial-gradient(#F48B7C, #FFB470);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
}

a:hover {
}



/* INPUT */

.textarea {
  height: 4em;
}

input, textarea {
  font-family: Caladea;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 30px;
  width: 300px;
  color: #beddff;
  background-color: rgba(230, 230, 250, 0);
  padding: 6px; 
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #ba8afc, #cdeafdd0, rgba(230, 230, 250, 0.075));
  border-image-slice: 60 30;
  overflow: hidden;
}

::-webkit-input-placeholder {
  color: #a3bedc;
  font-style: italic;
  font-size: 16px;
  /* wrap placeholder text */
  white-space:pre-line;  
  position:relative;
}

.dropdown {
  font-family: Caladea;
  color: #beddff;
  border: none;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 25px;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.08);
  height: 30px;
}