@import url('https://fonts.googleapis.com/css2?family=Caladea:ital@0;1&family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

/* body font: Caladea */
/* heading font: Josefin Sans Light */

body {
  background: #FEFDFE;
  font-family: Caladea;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #225B4F;
}

.header {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.navigation {
  /* position: absolute; */
  width: 271px;
  height: 551px;
}

#navButton {
  position: absolute;
  left: 18.08%;
  right: 14.76%;

  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%; /* identical to box height, or 23px */

  text-align: center;
  text-transform: uppercase;
}

.footer {

}

.quote {
  font-size: 20px;
}

#logo{
  content: url(public/logo.png);
  margin: 0 auto;
}

#bodyDiv {
  position: absolute;
  width: 742px;
  height: 551px;
  left: 0px;
  top: 0px;

  background: url(public/light_smblur.png);
  border: 1px solid #F48B7C;
  box-sizing: border-box;
  /* backdrop-filter: blur(4px); */
  border-radius: 3px;
}

/* page title */
h1 {
  text-transform:uppercase;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  line-height: 130%;
  /* background: radial-gradient(circle at center, #1C4A40, #B0EFC6); */
  background: -webkit-radial-gradient(#1C4A40, #B0EFC6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* sectionTitle */
h2 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  text-align: center;
  text-transform: uppercase;

  background: -webkit-radial-gradient(#F48B7C, #FFB470);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* create new world section title */
h3 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  text-align: center;
  text-transform: uppercase;

  color: #225B4F;
}

/* create new world section subtitle */
h4 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */

  text-align: center;
  text-transform: uppercase;

  color: #225B4F;
}

/* caption */
h5 { 
  font-family: Caladea;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

text-align: center;

color: #225B4F;

}

a {
  text-decoration: none;
}

a:hover {
  color: #e3ebd8;
}

ul {
  text-align: left;
}

.textarea {
  height: 4em;
}

input, textarea {
  font-family: Caladea;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 30px;
  width: 300px;
  color: #beddff;
  background-color: rgba(230, 230, 250, 0);
  padding: 6px; 
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #ba8afc, #cdeafdd0, rgba(230, 230, 250, 0.075));
  border-image-slice: 60 30;
  overflow: hidden;
}

::-webkit-input-placeholder {
  color: #a3bedc;
  font-style: italic;
  font-size: 16px;
  /* wrap placeholder text */
  white-space:pre-line;  
  position:relative;
}

.dropdown {
  font-family: Caladea;
  color: #beddff;
  border: none;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 25px;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.08);
  height: 30px;
}